$Paleblue: hsl(225, 100%, 94%);
$brightblue: hsl(245, 75%, 52%);
$verypaleblue: hsl(225, 100%, 98%);
$desaturatedblue: hsl(224, 23%, 55%);
$darkblue: hsl(223, 47%, 23%);

@import url("https://fonts.googleapis.com/css2?family=Cabin&family=Red+Hat+Display:wght@500;700;900&display=swap");

body {
  font-size: 16px;
  text-align: center;
  margin: 0px;
  padding: 0px;
  max-width: 1440px;
  max-height: 900px;
  background-image: url(/images/pattern-background-desktop.svg);
  background-repeat: repeat-x;
  background-color: $Paleblue;

  .card {
    max-width: 430px;
    margin: 175px auto;

    border-radius: 20px;
    box-shadow: 0px 0px 1px 1px $Paleblue;
    .hero-image > img {
      border-radius: 20px 20px 0px 0px;
      width:430px;
    }
    font-family: "Cabin", sans-serif;
    background-color: white;
    .order {
      width: 80%;
      margin: auto;
      h1 {
        font-weight: 900;
        font-size: 1.2rem;
      }
      p {
        color: $desaturatedblue;
      }
    }

    .plan {
      display: grid;
      grid-auto-flow: column;
      height: 99px;
      margin: auto;
      width: 80%;
      background-color: $verypaleblue;
      border-radius: 10px;
      margin-bottom: 0px;

      img {
        margin: auto;
      }
      .plan-text {
        text-align: left;
        #annual {
          color: $darkblue;
          font-size: 0.9rem;
          font-weight: 900;
          margin-bottom: 0px;
          margin-top: 30px;
        }
        #cost {
          margin-top: 0px;
          color: $desaturatedblue;
        }
      }
      a {
        margin: auto;
      }
      a:hover {
        text-decoration: none;
      }
    }
    .btn {
      width: 80%;
      height: 48px;
      border-radius: 10px;
      background-color: $brightblue;
      box-shadow: 0px 4px 13px $brightblue;
      text-decoration: none;
      font-weight: 900;
      font-size: 1.1rem;
      margin-top: 20px;
      color: $verypaleblue;
    }
    .btn:hover {
      filter: opacity(0.9);
    }
    .cancel {
      padding: 25px;

      a,
      :active {
        text-decoration: none;
        color: $desaturatedblue;
        font-weight: 700;
      }
      a:hover {
        color: black;
      }
    }
  }
  .attribution {
    font-size: 15px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }
}
footer {
  margin-top: 20px;
}

@media screen and(max-width:600px) {
  body {
    .card {
      width: 375px;
      .hero-image {
        img {
          width: 375px;
        }
      }
    }
  }
}
